body{
    background-color: black;
}
h1{
    color: #e5b12f;
    text-align: center;
}
.texto{
  font-size: 20px;
  color: floralwhite;
  text-align: justify;
}

.imglogo{
  width: 90px;
  height: 45px;
  float: left;
  padding: 10px;
}

.imgpubg{
  display: flex;
  justify-content: center;
}
.menu {
width: 1000px;
margin: 0 auto;
}

header{
  background-color: #e5b12f;
  width: 100%;
  clear: both;
  content:"";
  display: table;
}

nav{
  float: right;
}

nav ul li{
  color: black;
  list-style: none;
  margin-left: 100px;
  padding: 10px 0;
  float: left;
}

nav ul li a{
  text-decoration: none;
  font-weight: bold;
  color: black;
}

footer{
  text-align: center;
  color: white
}